<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.entity.Product" >
    <id column="pid" property="pid" jdbcType="INTEGER" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="l1" property="l1" jdbcType="VARCHAR" />
    <result column="l2" property="l2" jdbcType="VARCHAR" />
    <result column="l3" property="l3" jdbcType="VARCHAR" />
    <result column="fileName" property="filename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pid, pname, description, price, stock, l1, l2, l3, fileName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Product" >
    insert into product (pid, pname, description, 
      price, stock, l1, l2, 
      l3, fileName)
    values (#{pid,jdbcType=INTEGER}, #{pname,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{stock,jdbcType=INTEGER}, #{l1,jdbcType=VARCHAR}, #{l2,jdbcType=VARCHAR}, 
      #{l3,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Product" >
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="pname != null" >
        pname,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="l1 != null" >
        l1,
      </if>
      <if test="l2 != null" >
        l2,
      </if>
      <if test="l3 != null" >
        l3,
      </if>
      <if test="filename != null" >
        fileName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="l1 != null" >
        #{l1,jdbcType=VARCHAR},
      </if>
      <if test="l2 != null" >
        #{l2,jdbcType=VARCHAR},
      </if>
      <if test="l3 != null" >
        #{l3,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Product" >
    update product
    <set >
      <if test="pname != null" >
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="l1 != null" >
        l1 = #{l1,jdbcType=VARCHAR},
      </if>
      <if test="l2 != null" >
        l2 = #{l2,jdbcType=VARCHAR},
      </if>
      <if test="l3 != null" >
        l3 = #{l3,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        fileName = #{filename,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Product" >
    update product
    set pname = #{pname,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=INTEGER},
      l1 = #{l1,jdbcType=VARCHAR},
      l2 = #{l2,jdbcType=VARCHAR},
      l3 = #{l3,jdbcType=VARCHAR},
      fileName = #{filename,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>