<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.IUserinfoDao" >
  <resultMap id="BaseResultMap" type="com.entity.Userinfo" >
    <id column="usid" property="usid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="nocheng" property="nocheng" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    usid, uid, nocheng, address, gender, birthday, picture
  </sql>
  <select id="selectAlluserinfo"  resultMap="BaseResultMap" >
    SELECT * FROM  userinfo
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from userinfo
    where usid = #{usid,jdbcType=INTEGER}
  </select>

  <select id="selectByuid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from userinfo
    where uid = #{uid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from userinfo
    where usid = #{usid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Userinfo" >
    insert into userinfo (usid, uid, nocheng, 
      address, gender, birthday, 
      picture)
    values (DEFAULT, #{uid,jdbcType=INTEGER}, #{nocheng,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, #{birthday,jdbcType=TIMESTAMP}, 
      #{picture,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Userinfo" >
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="usid != null" >
        usid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="nocheng != null" >
        nocheng,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="picture != null" >
        picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="usid != null" >
        #{usid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="nocheng != null" >
        #{nocheng,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Userinfo" >
    update userinfo
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="nocheng != null" >
        nocheng = #{nocheng,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
    </set>
    where usid = #{usid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Userinfo" >
    update userinfo
    set uid = #{uid,jdbcType=INTEGER},
      nocheng = #{nocheng,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      picture = #{picture,jdbcType=VARCHAR}
    where usid = #{usid,jdbcType=INTEGER}
  </update>
</mapper>